<h2>Title</h2>
<p><%= @book.title %></p>

<h2>body</h2>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to 'Back', "https://b113abecca1746aa9ebcdf96c9749317.vfs.cloud9.ap-northeast-1.amazonaws.com/books" %>
